<h1><%= @card.name %></h1>
<div class="row">
    <div class="col-xs-3">
        <%= image_tag @card.printings.first.art %>
    </div>
    <div class="col-xs-9">
        <table cellspacing="0" class="table">
            <tbody>
                <tr>
                    <th class="col-xs-3">Name</th>
                    <td class="col-xs-9"><%= @card.name %></td>
                </tr>
                <tr>
                    <th class="col-xs-3">Civilizations</th>
                    <td class="col-xs-9">
                        <ul>
                        <% @card.civs.each do |civ| %>
                            <li><%= civ.name %></li>
                        <% end %>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th class="col-xs-3">Cost</th>
                    <td class="col-xs-9"><%= @card.cost %></td>
                </tr>
                <tr>
                    <th class="col-xs-3">Type</th>
                    <td class="col-xs-9"><%= @card.ctype.capitalize %></td>
                </tr>
                <% if @card.ctype == 'creature' %>
                <tr>
                    <th class="col-xs-3">Races</th>
                    <td class="col-xs-9">
                        <ul>
                            <% @card.races.each do |race| %>
                                <li><%= race.name %></li>
                            <% end %>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th class="col-xs-3">Power</th>
                    <td class="col-xs-9"><%= @card.power %></td>
                </tr>
                <% end %>
                <tr>
                    <th class="col-xs-3">Abilities</th>
                    <td class="col-xs-9">
                        <ul>
                            <% @card.abilities.each do |ability| %>
                                <li>
                                <strong><%= ability.name %></strong>
                                &mdash;
                                <span><%= ability.text %></span>
                                </li>
                            <% end %>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th class="col-xs-3">Printings</th>
                    <td class="col-xs-9">
                        <ul>
                            <% @card.printings.each do |printing| %>
                                <li>
                                <strong>
                                    <%= printing.cardset.name %>
                                    (<% printing.rarity.times do %>
                                        *
                                    <% end %>)
                                </strong>
                                &mdash;
                                <span><%= printing.number %></span>
                                </li>
                            <% end %>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
