<table cellspacing="0" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Civilazations</th>
            <th>Cost</th>
            <th>Type</th>
            <th>Rarity</th>
            <% if is_managing_deck? %>
            <th>Current Deck</th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% cards.each do |card| %>
            <tr>
                <td><%= card.name %></td>
                <td><%= card.civs.map do |civ|
                        civ.name
                    end.join ' / '
                    %>
                </td>
                <td><%= card.cost %></td>
                <td>
                    <%= card.ctype.capitalize %>
                    <% if card.ctype != 'spell' %>
                        &mdash;
                        <%= card.races.map(&:name).join(' / ') %>
                        &mdash;
                        <%= card.power %>
                    <% end %>
                </td>
                <td><% card.printings.first.rarity.times do %>*<% end %></td>
                <% if is_managing_deck? %>
                <td>
                    <%= form_tag(deck_manage_path(id: current_deck.id)) do |f| %>
                        <%= hidden_field_tag('card_id', card.id) %>
                        <div class="btn-group">
                            <%= submit_tag("0",  current_deck_card_count(0, card)) %>
                            <%= submit_tag("1",  current_deck_card_count(1, card)) %>
                            <%= submit_tag("2",  current_deck_card_count(2, card)) %>
                            <%= submit_tag("3",  current_deck_card_count(3, card)) %>
                        </div>
                    <% end %>
                </td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
